body {
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    /* background-image: url(./src/img/canvas/Desktop\ -\ 1.png); */
}


/* // __________________________________________________________________________________________________________________________________________________ //
//                                                      SECTIONS                                                                       
// __________________________________________________________________________________________________________________________________________________ // */


.hebergement {
    display: flex;
    
    

    /* A SUPPRIMER */
    margin-top: -60px;
    opacity: 1;
}

/* // __________________________________________________________________________________________________________________________________________________ //
//                                                      CONTAINERS                                                                       
// _____________________________________________________________________________________________________________________________________________________ // */

/*******************************************************HEBERGEMENT****************************************************************************/

.container_hebergement {
    margin-left: 50px;
    width: 880px;
    height : 626px;
    background-color: #F2F2F2;

}

.container_hebergement_titre {
    height: 90px;
}

.container_hebergement_pin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    margin: 0 24.5px 0 24.5px;
    height: 457px;
}

.container_herbergement_affPlus {
    height: 107px;
}


/*******************************************************POPULAIRE****************************************************************************/

.container_populaire {
    background-color: #F2F2F2;
    margin-left: 39px;
    width: 420px;
    height : 626px;
}

.container_populaire_titre {
    height: 93px;
    display: flex;
}

.container_populaire_pin {
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

/* // ____________________________________________________________________________________________________________________________________________ //
//                                                      AJUSTEMENTS DE MISE EN PAGE                                                                */

/* Titre h3 situé dans les deux containers */
.title-alignFlex-noMargTop {  
    font-size: 22.4px;
    font-weight: bold;
    margin-top: 0;
    padding: 42px 0 0 40px;
}

.fa-chart-line {
    font-size: 22.4px;
    margin-top: 0;
    padding: 42px 0 0 115px;
}

.affplus {
    font-weight: bolder ;
    font-size: 19px;
    margin-top: 0;
    padding: 11px 0 0 42px;
}

/* // __________________________________________________________________________________________________________________________________________________ //
//                                                      PINS                                                                       
// _____________________________________________________________________________________________________________________________________________________ // */

/*******************************************************HEBERGEMENT***************************************************************************/

.pin_hebergement {
    background-color: white;
    width : 246px;
    height: 199px;
    box-shadow: 5px 5px 18px  rgba(0, 0, 0, 0.1);
}

/*******************************************************POPULAIRE****************************************************************************/

.pin_populaire {
    background-color: white;
    width: 343px;
    height: 144px;
    display: flex;
    box-shadow: 5px 5px 18px  rgba(0, 0, 0, 0.1);    
}

/* // _____________________________________________________________________________________________________________________________________________//
//                                                      ELEMENTS DES PINS                                                                          */

/*******************************************************HEBERGEMENT***************************************************************************/

.cadre{
    overflow: hidden;
    margin: 5px 5px 0 5px;
    border-radius: 15px 15px 0 0;
    height: 114px;
    position: relative;
    width: 235px;
}

.cadre > img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 235px;
}

.pin_hebergement > h4 {
    padding-left: 16px;
    font-size: 16.4px;
    margin: 8px 0 0 0;
}

.pin_hebergement > p {
    padding-left: 16px;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.stars {
    padding-left: 16px;
    margin-top: 6px;
    font-size: 12px;
}
/*******************************************************POPULAIRE***************************************************************************/

.cadre_populaire {
    overflow: hidden;
    margin: 5px 0 5px 5px;
    border-radius: 15px 0 0 15px;
    height: 134px;
    position: relative;
    width: 127px;
    flex-shrink: 0;
}

.cadre_populaire > img {
    object-fit: cover;
    width: 127px;
    height: 134px;
    
  }

.content > h4 {
    padding-left: 18px;
    font-size: 18px;
    margin: 15px 0 0 0;
}

.content > p {
    padding-left: 18px;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.content > .stars{
    margin: 40px 0 0 3px;
}



/*******************************************************GLOBAL******************************************************************************/



.fa-star {
    letter-spacing: -3px;
}
/* // __________________________________________________________________________________________________________________________________________________ //
//                                                      EFFETS VISUELLES                                                                       
// _____________________________________________________________________________________________________________________________________________________ // */


.border_round {
    border-radius: 20px;
}
.checked{
    color : #0065FC;
}
.unchecked {
    color :  #F2F2F2;
}

/* // __________________________________________________________________________________________________________________________________________________ //
//                                                      EFFETS DE TEXTE                                                                       
// _____________________________________________________________________________________________________________________________________________________ // */





.filtre_selection {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border: 2px solid white;
    width: 250px;
    height: 40px;
    padding: 0 0 0 0;
    align-items: center;
}

.filtre_selection > .icon {
    background-color: cyan;
    border-radius: 100%;
    width : 35px;
    height: 36px;
    
    
}

.filtre_selection > .icon > i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 15px;
}